<section [ngClass]="'seccion-header-image'" (window:resize)="onResize($event)">
    <img src="{{imgHead}}">
    <div [ngClass]="['gray-bar-lg']"></div>
    <div [ngClass]="['body-page','font-blue']">
        <div [ngClass]="['title','text-center','title-page']">
            <span>
                EDIFICIO #4<br>
                OFIPLAZA SAN DIONISIO
            </span>
        </div>
        <div [ngClass]="['gray-bar-sm']">
        </div>
        <div [ngClass]="['sub-title','main-text-page']">
            <span>
                <p>
                    Porque creemos en el poder de la inversión, actualmente estamos desarrollando un edificio con una área
                     rentable de 3,718.64m2 excelente para hacer crecer su empresa.
                </p>
                <p>
                    Está etapa al igual que todas nuestras etapas mantendra espacios para oficinas con estilo moderno y 
                    elegante, contara con:
                </p>
                <p> 
                    Seguridad 24/7, Accesibilidad para personsa discapacitadas. Escaleras de emergencia, Ascensores y
                     Amplio parqueo.
                </p>
                
            </span>
        </div>
        <div [ngClass]="['gray-bar-sm']">
        </div>

        <div>
            <div [ngClass]="['images-collection-page']">
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-96.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-97.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-98.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-99.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-100.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-101.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-102.jpg">
                </div>
                <div [ngClass]="['image-content']">
                    <img src="assets/img/eops4/eops4-images-103.jpg">
                </div>
            </div>
        </div>
    </div>
    
</section>






