<mat-toolbar>
    <mat-toolbar-row (window:resize)="onResize($event)">
        <img [src]="['assets/img/logo-opsd.svg']" [ngClass]="['main-logo']">
        <div [ngClass]="['menu-mobile']">
            <a [href]="'https://www.facebook.com/ofiplazasandionisio/'">
                <img [ngClass]="['fb-icon-mobile']" [src]="'assets/img/icons/fb-white-62.svg'" width="40">
            </a>
            <img (click)="showMobileMenu()" [ngClass]="['burger-icon-mobile']" [src]="['assets/img/icons/burger.svg']">
        </div>
    </mat-toolbar-row>
    <div [ngClass]="['menu-container']">
    
        <div [ngClass]="['menu']" *ngIf="activeMobileMenu">
            <div [ngClass]="['btnMenu']">
                <div [ngClass]="['btn-menu-card']">
                    <a [routerLink]="['/inicio']" routerLinkActive="router-link-active">
                        <span [ngClass]="['menu-text']">Inicio</span>
                    </a>
                </div>
                <div [ngClass]="['btn-menu-card']">
                    <a [routerLink]="['nosotros']" routerLinkActive="router-link-active">
                        <span [ngClass]="['menu-text']"> Nosotros</span>
                    </a>
                </div>
                <div  [ngClass]="['btnEdificios']" (click)="showSubMenu()" (mouseleave)="activeSubMenu=false">
                    <span [ngClass]="['menu-text']">Edificios</span>
                    <div *ngIf="activeSubMenu" [ngClass]="['sub-menu-box']">
                        <div>
                            <a [routerLink]="['/eops1']" routerLinkActive="router-link-active">
                                <span [ngClass]="['menu-text']">Eops 1</span>
                            </a>
                        </div>
                        <div>
                            <a [routerLink]="['/eops2']" routerLinkActive="router-link-active">
                                <span [ngClass]="['menu-text']">Eops 2</span>
                            </a>
                        </div>
                        <div>
                            <a [routerLink]="['/eops3']" routerLinkActive="router-link-active">
                                <span [ngClass]="['menu-text']"> Eops 3</span>
                            </a>
                        </div>
                        <div>
                            <a [routerLink]="['/eops4']" routerLinkActive="router-link-active">
                                <span [ngClass]="['menu-text']">Eops 4 </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div [ngClass]="['btn-menu-card']">
                    <a [routerLink]="['/food-court']" routerLinkActive="router-link-active">
                        <span [ngClass]="['menu-text']">Foodcourt</span>
                    </a>
                </div>
                <div  [ngClass]="['btn-menu-card']">
                    <a [routerLink]="['/workplace']" routerLinkActive="router-link-active">
                        <span [ngClass]="['menu-text']">Workplace</span>
                    </a>
                </div>
                <div [ngClass]="['menu-contact-bar']"></div>
                <div  [ngClass]="['btn-menu-card']">
                    <button [ngClass]="['btnContact']" [routerLink]="['/contacto']">
                        <span>Contáctanos</span>
                    </button>
                </div>
            </div>
            <div [ngClass]="['socialMenu']">
                <div [ngClass]="['socialBarMenu']"></div>
                <div>
                    <a [href]="'https://www.facebook.com/ofiplazasandionisio/'">
                        <img [src]="'assets/img/icons/icon-25.svg'" width="40">
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>


<router-outlet></router-outlet>



<footer [ngClass]="['footer']">
    <div [ngClass]="['footer-back-image']">
        <img [src]="footerImg" width="100%">


        <div [ngClass]="['footer-content']">

            <div [ngClass]="['footer-white-barr']"></div>
    
            <div [ngClass]="['social-footer']">
                <div >
                    <a [href]="'https://www.facebook.com/ofiplazasandionisio/'"  >
                        <img [src]="'assets/img/icons/fb-white-62.svg'" width="40">
                    </a>
                </div>
            </div>
            <div [ngClass]="['text-footer']">
                <img [src]="'assets/img/icons/icon-29.svg'" width="20px"> <span>Semaforo Colegio Americano, 10m al Norte</span>
            </div>
            <div [ngClass]="['text-footer']"> 
                <img [src]="'assets/img/icons/icon-30.svg'" width="20"> <span>+(505) 8941-5700</span>
            </div>
            <div [ngClass]="['text-footer']"> 
                <img [src]="'assets/img/icons/icon-31.svg'" width="20"> <span>Ventas@infodesarrollos.com</span>
            </div>
            <button [ngClass]="['btnContact']" [routerLink]="['/contacto']">CONTÁCTANOS</button>

            <div [ngClass]="['footer-white-barr']"></div>

            <div>
                <span>
                    Todos los derechos reservador copyright© {{anio.getFullYear()}}, ClikcNicaragua Soluciones, Diseño y Desarrollo web: Ennio J. Sáenz M.
                </span>
            </div>
        </div>
    </div>
</footer>


