
.body-page{
    display: flex;
    flex-direction: column;
    padding: 30px 8%;
    width: 100%;
    max-width: 1600px;
}


//ESTILOS GLOBALES
.title{
    font-family:'Myriad Pro', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    line-height: normal;
}

.sub-title{
    font-family:'Myriad Pro', sans-serif;
    font-size: 1.5em;
}

.text-center{
    text-align: center;
}

.font-white{
    color:#fff;
}

.font-blue{
    color: #354851;
}

.back-blue{
    background: #354851;
}

.back-orange{
    background-color: #EF7B00;
}
.seccion-header-image img{
    width: 100%;
}

.gray-bar-lg{
    height: 10px;
    width: 100%;
    background-color: #C7CED3;
    box-shadow: 1px 1px 7px 1px gray;
}

.gray-bar-sm{
    height: 2px;
    width: 100%;
    background-color: #C7CED3;
    margin: 20px 0;
}

.body-page{

}

.title-page{
    line-height: 1em;
    margin: 20px 0 15px 0;
}

.main-text-page{
    margin: 20px 0;
}

.images-collection-page{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.image-content{
    width: 220px;
}
.image-content:hover{
    transform: scale(1.6);
    transition: 0.3s;
    box-shadow: 5px 5px 8px 2px rgba($color: #000000, $alpha: 0.3);
}

@media only screen and (max-width:420px) {
    .image-content:hover{
        transform: scale(1.3);
        transition: 0.3s;
        box-shadow: 5px 5px 8px 2px rgba($color: #000000, $alpha: 0.3);
    }
}